
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    animation: spawn 1.3s ease-in-out forwards; 

}

@keyframes spawn{
    0%{
      box-shadow: 0 0 0 var(--shadow);
      opacity:0%;
    }
    100%{
      box-shadow: 0 0 32px var(--shadow);
      opacity:100%;
    }
}

